.discover {
  padding: 60px 0px;
}

.discover__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: center;
}

.discover__desc {
}

.discover__title {
  margin-bottom: 24px;
}

.title-1 {
  font-size: 72px;
  font-weight: 700;
  line-height: normal;
  &--decor {
    position: relative;
  }
  &--decor::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 268px;
    height: 24px;
    z-index: -1;
    background-image: url("../img/discover/underline.svg");
    background-repeat: no-repeat;
  }
}

.discover__text {
  margin-bottom: 40px;
}

.discover__form {
}

.discover__picture {
  position: relative;
}

.discover__picture-img {
}
.discover__picture-hint {
  position: absolute;
  top: 90px;
  left: 40px;
}
