.popular {
  padding: 60px 0px;
}

.popular__top {
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.popular__title {
  display: grid;
  gap: 32px;
}

.popular__controls {
  display: flex;
  gap: 15px;
}
.popular__arrow-left {
  padding: 12px;
  border: 1px solid #b9b9b9;
  border-radius: 50px;
}
.popular__arrow-right {
  padding: 12px;
  border-radius: 50px;
  background-color: #35aff4;
}
.popular__slider {
}
